[Desktop Entry]
Name=Easy APT
Comment=A tool for installing apps with APT quickly and easily.
Exec=/usr/bin/main.sh
Icon=easyapt.png
Terminal=true
Type=Application
Categories=Utility;
